body{
    display: block;
    margin: 0;

}
.container{
    display: fl;
}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
button{
    border-radius: 10px;
    background-color:white;
    
}
.header{
    text-align: center;
}
img{
    height: 50px;
}

